<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>210172482556-brnaot43qksefivil4nq2jpi63qj3c7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210172482556-brnaot43qksefivil4nq2jpi63qj3c7i</string>
	<key>API_KEY</key>
	<string>AIzaSyCxZhfYCRMWabeAQyqhe0GAlww2we7jhws</string>
	<key>GCM_SENDER_ID</key>
	<string>210172482556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HfCompany.Flash-Chat2</string>
	<key>PROJECT_ID</key>
	<string>flashchat-55f4d</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-55f4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:210172482556:ios:451b8220dc664d34</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-55f4d.firebaseio.com</string>
</dict>
</plist>